<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="${welcome}"></h1>

    <hr>

    <h2>
        Biodata
    </h2>

    <p>
        Name       : Ibnu Sofian Firdaus
        <br>
        Birthday   : 29 July 1998
        <br>
        Birthplace : Pandeglang
        <br>
        Address    : Depok, Jawa Barat, Indonesia, South East Asia, Asia, Earth, Milky Way
    </p>

    <h2>
        Education
    </h2>

    <p>
        Computer Science, Universitas Indonesia | 2016 - Present
        <br>
        Natural Science, SMAN 1 Pandeglang      | 2013 - 2016
        <br>
        SMPN 1 Pandeglang                       | 2010 - 2013
        <br>
        SDN 4 Pandeglang                        | 2004 - 2010
    </p>

    <h2>
        Description
    </h2>

    <p>
        A human being that live on earth. Breathe air, drink water, eat food, and sleeps with eyes closed.
    </p>
</body>
</html>
